@page "/Login"
@model _5eNotes.Pages.Login.LoinModel
@{
}

    <div class="mx-auto border border-dark rounded col-xxl-5 col-xl-7 col-lg-8 col-md-10 col-sm-12">
        <div class=" bg-dark p-2">
            <h5 class="mx-5 text-white">Login</h5>
        </div>
        <form>
            <div class="w-75 mx-auto mt-5">
                <input placeholder="Username" class="form-control mt-2" />
                <input placeholder="Password" class="form-control mt-2" />
                <div class="w-50 mx-auto mt-3 mb-5 border">
                    <button class="btn btn-dark col-12">Login</button>
                </div>
            </div>
        </form>
    </div>