html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
  overflow:hidden;
}

body {
    margin: 0px;
    padding: 0px;
    max-width: 100%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

#contentContainer {
    height: 90vh;
    
    margin-top: 0px;
}
#sidebar {
    max-width: 15%;
    align-items:start;
    border-right: 1px solid black;
    height: 90vh;
    z-index: 3;
}

#pageContent {
    width: 100%;
    height: 60%;
    --bs-gutter-x: 0rem;
}

.bg-light-dark{
    background-color: rgb(75,75,75)
}

.text-gold {
    color: #bba14f !important;
}
.input-xs{
    padding: 0;
}
